<!DOCTYPE html>
<html>
<head>
  <title>Form</title>
  <%= stylesheet_link_tag %>
  <%= javascript_include_tag 'http://code.jquery.com/jquery-latest.min.js', 'http://malsup.github.com/jquery.form.js' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
